<!-- CATEGORY MANAGEMENT SECTION -->
<section class="container category-management mt-5 mb-5">
    <h2 class="mb-4">Category Management</h2>

    <!-- Existing Categories -->
    <div class="existing-categories mb-4">
        <h3>Existing Categories</h3>
        <div id="existingCategoriesList" class="d-flex">
            {{#each data}}
            <div class="card m-1" style="width: 12rem;">
                <img src="{{this.imageUrl}}" class="card-img-top" style="height: 12rem;" alt="image" >
                <div class="card-body">
                    <p class="card-text">{{this.name}}</p>
                    
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-dark" onclick="deleteCat('{{this._id}}')">Delete</button>
                       <a href="/update-category/{{this._id}}" class="btn btn btn-dark btn-edit-product" data-id="{{this._id}}" onclick="handleEditClick(this)">
                    <i class="fas fa-edit"></i>
                    Edit
                  </a>
                    </div> 
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Existing Sub Categories -->
    <div class="existing-categories mb-4">
        <h3>Existing Sub Categories</h3>
        <div id="existingCategoriesList" class="d-flex">
            {{#each file}}
            <div class="card m-1" style="width: 12rem;">
                <div class="card-body">
                    <label for="categoryImage" class="form-label text-danger">Sub Category Name</label>
                    <p class="card-text">{{this.subCategoryName}}</p>
                    <label for="categoryImage" class="form-label text-danger">Parent Category</label>
                    <p class="card-text">{{this.parentCategory}}</p>
                    <input type="hidden" id="categoryId" value="{{this._id}}">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-dark" onclick="deleteSubCat('{{this._id}}')">Delete</button>
                        <a href="/update-subcategory/{{this._id}}">
                        <button type="button" class="btn btn-dark update-category-button" >Update</button></a>
                    </div>         
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Add New Category Form -->
    <div class="add-new-category">
        <h3>Add New Category</h3>
        <form action="/add-category" id="addCategoryForm" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="categoryName" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Enter category name">
            </div>
            <div class="mb-3">
                <label for="categoryImage" class="form-label">Category Image</label>
                <input type="file" class="form-control" id="categoryImage" name="categoryImage">
            </div>
            <button type="submit" class="btn btn-dark">Add Category</button>
        </form>
    </div>

    <!-- Add Subcategory Form -->
   <div class="add-subcategory mt-4">
        <h3>Add Subcategory</h3>
        <form id="addSubcategoryForm" action="add-subcategory" method="post">
            <div class="mb-3">
                <label for="subcategoryName" class="form-label">Subcategory Name</label>
                <input type="text" class="form-control" id="subcategoryName" name="subCategoryName" placeholder="Enter subcategory name">
            </div>
            <div class="mb-3">
                <label for="parentCategory" class="form-label">Parent Category</label>
                <select class="form-select" id="parentCategory" name="parentCategory">
                    {{#each data}}
                    <option value="{{this.name}}" >{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-dark">Add Subcategory</button>
        </form>
    </div>


</section>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- CATEGORY MANAGEMENT SECTION -->
<script>
    function viewimage(event)
{
  document.getElementById('eximg').src = URL.createObjectURL(event.target.files[0])
}

    async function deleteCat(catId) {
        console.log("fun called");
        event.preventDefault();

        Swal.fire({
            title: `Do you want to delete category ?`,
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Yes",
            denyButtonText: `No`
        }).then(async (result) => {
            if (result.isConfirmed) {
                try {
                    const response = await fetch(`/category/${catId}`, {
                        method: 'DELETE'
                    });

                    if (response.ok) {
                            location.reload();
                    } else {
                        // Handle error responses
                        console.error('Error deleting category:', response.statusText);
                        // Display an error message to the user
                        alert('Failed to delete category. Please try again.');
                    }
                } catch (error) {
                    console.error('Error deleting category:', error);
                    // Display an error message to the user
                    alert('An unexpected error occurred. Please try again later.');
                }
            }
        });
    }

        async function deleteSubCat(catId) {
        console.log("del fun called");
        event.preventDefault();

        Swal.fire({
            title: `Do you want to delete sub category ?`,
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: "Yes",
            denyButtonText: `No`
        }).then(async (result) => {
            if (result.isConfirmed) {
                try {
                    const response = await fetch(`/subcatcategory/${catId}`, {
                        method: 'DELETE'
                    });

                    if (response.ok) {
                            location.reload();
                    } else {
                        // Handle error responses
                        console.error('Error deleting category:', response.statusText);
                        // Display an error message to the user
                        alert('Failed to delete category. Please try again.');
                    }
                } catch (error) {
                    console.error('Error deleting category:', error);
                    // Display an error message to the user
                    alert('An unexpected error occurred. Please try again later.');
                }
            }
        });
    }
    

</script>
