<main>
    <div class="container">
        <h1 class="mt-4 mb-3">Order Details</h1>
        <div>
                   <div class="text-right mb-3">
            <select id="status-dropdown" class="form-select">
                <option value="Packed">Packed</option>
                <option value="Picked">Picked</option>
                <option value="In-Transit">In-Transit</option>
                <option value="Out For Delivery">Out For Delivery</option>
                <option value="Delivered">Delivered</option>
            </select>
           
            <button id="update-status-button" class="btn btn-primary my-2">Update Delivery Status</button>
             <h5 id="current-status">Current status : {{ order.Status }}</h5>
        </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Order Information</h5>
                        <p class="card-text">Order ID: {{ order.orderId }}</p>
                        <p class="card-text">Customer Name: {{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}</p>
                        <p class="card-text">Email: {{ order.shippingAddress.email}}</p>
                        <p class="card-text">Phone Number: {{ order.shippingAddress.phonenumber}}</p>
                        <p class="card-text">Address: {{ order.shippingAddress.address }}</p>
                        <p class="card-text">Address 2: {{ order.shippingAddress.address2 }}</p>
                        <p class="card-text">State: {{ order.shippingAddress.state }}</p>
                        <p class="card-text">Zip: {{ order.shippingAddress.zip }}</p>
                        <p class="card-text">Order Date: {{ order.orderDate }}</p>
                        <p class="card-text">Total Amount: {{ order.totalAmount }}</p>
                        <p class="card-text" id="total-discount">Total discount: {{ order.discount }}</p>
                        <p class="card-text">Payment Method: {{ order.paymentMethod }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Items</h5>
                        <div class="row">
                            {{#each order.items}}
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <img src="{{ this.product.image.[0] }}" class="card-img-top" alt="Product Image">
                                    <div class="card-body">
                                        <h6 class="card-title">Product Name: {{ this.product.name }}</h6>
                                        <p class="card-text">Quantity: {{ this.quantity }}</p>
                                        <p class="card-text">Size: {{ this.size }}</p>
                                        <p class="card-text">Price: {{ this.product.price }}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button id="ship-order-button" class="btn btn-success mx-2">Ship Order</button>
            <button class="btn btn-danger mx-2">Reject Order</button>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

   const updateStatusButton = document.getElementById('update-status-button');
    const statusDropdown = document.getElementById('status-dropdown');
    const currentStatusElement = document.getElementById('current-status');

    updateStatusButton.addEventListener('click', () => {
        const orderId = '{{ order.orderId }}';
        const newStatus = statusDropdown.value;
        
        axios.post('/update-status', {
            orderId: orderId,
            newStatus: newStatus
        })
        .then(response => {
            console.log('Delivery status updated successfully:', response.data);
             currentStatusElement.textContent = `Current status: ${response.data.order.Status}`;

        })
        .catch(error => {
            console.error('Error updating delivery status:', error);
            // Handle error response
        });
    });


  const shipOrderButton = document.getElementById('ship-order-button');

  shipOrderButton.addEventListener('click', () => {
    const orderId = '{{ order.orderId }}';
    const shippingAddress = {
      firstName: '{{ order.shippingAddress.firstName }}',
      lastName: '{{ order.shippingAddress.lastName }}',
      email: '{{ order.shippingAddress.email}}',
      phonenumber: '{{ order.shippingAddress.phonenumber}}',
      address: '{{ order.shippingAddress.address }}',
      address2: '{{ order.shippingAddress.address2 }}',
      state: '{{ order.shippingAddress.state }}',
      zip: '{{ order.shippingAddress.zip }}'
    };
    const orderDate = '{{ order.orderDate }}';
    const totalAmount = '{{ order.totalAmount }}';
    const paymentMethod = '{{ order.paymentMethod }}';

   const orderDetails = {
  "order_id": "ordID",
  "order_date": "2024-01-06",
  "order_type": "ESSENTIALS",
  "consignee_name": "John",
  "consignee_phone": 8000042323,
  "consignee_email": "johnhelp@gmail.com",
  "consignee_address_line_one": "Sector 49",
  "consignee_address_line_two": "Sohna Road",
  "consignee_pin_code": 122001,
  "consignee_city": "Gurgaon",
  "consignee_state": "Haryana",
  "product_detail": [
    {
      "name": "Laptop",
      "sku_number": "22",
      "quantity": 1,
      "discount": "",
      "hsn": "#123",
      "unit_price": 1000,
      "product_category": "Other"
    }
  ],
  "payment_type": "PREPAID",
  "cod_amount": "",
  "weight": 200,
  "length": 10,
  "width": 20,
  "height": 15,
  "warehouse_id": "",
  "gst_ewaybill_number": "",
  "gstin_number": ""
};


    fetch('/place-order', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(orderDetails)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Order pushed to shipping API:', data);
      // Handle successful order push response
      // You can add code here to show a success message or redirect the user
    })
    .catch(error => {
      console.error('Error pushing order to shipping API:', error);
      // Handle error response
      // You can add code here to show an error message to the user
    });
  });
  

</script>
