<main>
    <div class="container-fluid order-management">
        <div class="d-flex justify-content-between align-content-center align-items-center">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Order Management</a>
                    </li>
                </ul>
            </div>
            <i class='bx bx-sort-down'></i>
        </div>

        <!-- Add your order management content here -->
        <!-- For example, order list, filters, search, etc. -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each order}}
                    <tr>
                        <td>{{this.orderId}}</td>
                        <td>{{this.shippingAddress.firstName}} {{this.shippingAddress.lastName}}</td>
                        <td class="col-3">{{this.orderDate}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>
                            <button class="btn btn-primary view-order-btn" data-order-id="{{this.orderId}}">View Order</button>
                            <button class="btn btn-success">Ship Order</button>
                            <button class="btn btn-danger">Reject Order</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const viewOrderButtons = document.querySelectorAll('.view-order-btn');
        
        viewOrderButtons.forEach(button => {
            button.addEventListener('click', function() {
                const orderId = button.dataset.orderId;
                const url = `/order?orderId=${orderId}`; // Construct the URL with the order ID as a query parameter
                window.location.href = url; // Redirect to the order details page
            });
        });
    });
</script>


