<div class="container-fluid product-management mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div
        class="add-product mb-4 d-flex justify-content-end align-content-end"
      >
        <a href="addproduct"><button class="btn btn-dark btn-lg"><i
              class="fas fa-plus"
            ></i>
            Add Product</button></a>
      </div>

      <div class="product-list table-responsive">
        <table class="table table-striped">
          <thead>
            <tr class="">
              <th class="col-4" scope="col">Image</th>
              <th class="col-2" scope="col">Name</th>
              <th class="col-2" scope="col">Price</th>
              <th class="col-2" scope="col">Category</th>
              <th class="col-2" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
              <tr
                class="justify-content-center align-content-center align-items-center"
              >
                <td class=""><img
                    src="{{this.image.[0]}}"
                    alt="Product Image"
                    class="rounded img-thumbnail"
                    style="height: 8rem;"
                  /></td>
                <td>{{this.name}}</td>
                <td>₹{{this.price}}</td>
                <td>{{this.category}}</td>
                <td>
                  <!-- Edit button with product ID as data attribute -->
                 <a href="/edit-product/{{this._id}}" class="btn btn-sm btn-secondary btn-edit-product" data-id="{{this._id}}" onclick="handleEditClick(this)">

                    <i class="fas fa-edit"></i>
                    Edit
                  </a>

                  <!-- Delete button with product ID as data attribute -->
                  <button
                    class="btn btn-sm btn-danger delete-product"
                    onclick="deleteProduct('{{this._id}}')"
                  ><i class="fas fa-trash"></i> Delete</button>
                </td>
              </tr>
              <input
                type="hidden"
                name="_id"
                type="text"
                value="{{this._id}}"
              />
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter product name"
            />

          </div>
          <div class="mb-3">
            <label for="productMedia" class="form-label">Product Media</label>
            <input
              type="file"
              class="form-control"
              id="productMedia"
              name="image"
            />
          </div>

          <div class="mb-3">
            <label for="variants" class="form-label">Edition</label>
            <select class="form-select mb-2" id="variant" name="variant">
              <option value="Player version" selected>Player version</option>
              <option value="Fan version">Fan version</option>
              <option value="First Grade Set">First Grade Set</option>
              <option value="Sublimation">Sublimation</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="mrp" class="form-label">MRP</label>
            <input
              type="number"
              class="form-control"
              id="mrp"
              placeholder="Enter MRP"
              name="mrp"
            />
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              placeholder="Enter price"
              name="price"
            />
          </div>
          <div class="mb-3">
            <label for="size" class="form-label">Stock</label><br />
            <label for="S">S</label>
            <input type="number" class="form-control" id="S" name="stock.S" />
            <label for="M">M</label>
            <input type="number" class="form-control" id="M" name="stock.M" />
            <label for="L">L</label>
            <input type="number" class="form-control" id="L" name="stock.L" />
            <label for="XL">XL</label>
            <input type="number" class="form-control" id="XL" name="stock.XL" />
            <label for="XXL">XXL</label>
            <input
              type="number"
              class="form-control"
              id="XXL"
              name="stock.XXL"
            />
            <label for="tags" class="form-label">Tags</label>
            <select class="form-select mb-2" id="tags" name="tags">
              <option value="new" selected>new</option>
              <option value="best seller">best seller</option>
              <option value="hot deal">hot deal</option>
              <option value="trending">trending</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  async function deleteProduct(id) {
        console.log("fun called");
        event.preventDefault();

        Swal.fire({
            title: `Do you want to delete product ?`,
            showDenyButton: true,
            confirmButtonText: "Yes",
            denyButtonText: `No`
        }).then(async (result) => {
            if (result.isConfirmed) {
                try {
                    const response = await fetch(`/delete-product/${id}`, {
                        method: 'DELETE'
                    });

                    if (response.ok) {
                            location.reload();
                    } else {
                        // Handle error responses
                        console.error('Error deleting category:', response.statusText);
                        // Display an error message to the user
                        alert('Failed to delete category. Please try again.');
                    }
                } catch (error) {
                    console.error('Error deleting category:', error);
                    // Display an error message to the user
                    alert('An unexpected error occurred. Please try again later.');
                }
            }
        });
    }
</script>