<div class="container bcrumb mb-3">
    <div class="row justify-content-center">
        {{#if adress}}
<div class="col-md-4">
    <h4 class="mb-3">Saved Addresses</h4>
    <div id="savedAddressesContainer">
{{#each adress}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
        <p class="card-text">Email: {{this.email}}</p>
        <!-- Include phone number in the card text -->
        <p class="card-text">Phone Number: {{this.phonenumber}}</p>
        <p class="card-text">Address 1: {{this.address}}</p>
        <p class="card-text">Address 2: {{this.address2}}</p>
        <p class="card-text">State: {{this.state}}</p>
        <p class="card-text">Zip: {{this.zip}}</p>
        <a href="#" class="btn btn-primary btn-adress">Use this Address</a>
    </div>
</div>
{{/each}}
    </div>
</div>
{{/if}}
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form  action="/final-checkout" id="payment-form" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="fname" placeholder="" value="" required>
                        <small class="text-danger invalid-feedbacks"></small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lname" placeholder="" value="" required>
                        <small class="invalid-feedbackd text-danger"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
                    <small class="invalid-feedbacke text-danger"></small>
                </div>
                <div class="mb-3">
                    <label for="number">Contact Number </label>
                    <input type="tel" class="form-control" name="number" id="number" placeholder="9999999999">
                    <small class="invalid-feedbackdd text-danger"></small>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="adress" placeholder="1234 Main St" required>
                    <small class="invalid-feedbackv text-danger"></small>
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" name="adress2" id="address2" placeholder="Apartment or suite">
                </div>
                <div class="row">
<div class="col-md-4 mb-3">
    <label for="state">State</label>
    <select class="custom-select d-block w-100" name="state" id="state" required>
        <option value="">Choose...</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West Bengal">West Bengal</option>
    </select>
    <small class="invalid-feedbacksav text-danger"></small>
</div>

                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" name="zip" placeholder="" required>
                        <small class="invalid-feedbacksda text-danger"></small>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox save">
                    <input type="checkbox" class="custom-control-input" name="saveadress" id="same-address">
                    <label class="custom-control-label" for="same-address">Save Shipping Adress</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">

                <div class="custom-control custom-radio">
                    <input id="COD" name="paymentMethod" type="radio" class="custom-control-input" value="COD" required>
                <label class="custom-control-label" for="COD">COD</label>
            </div>
                    <div class="custom-control custom-radio">
            <input id="Online" name="paymentMethod" type="radio" class="custom-control-input" value="Online" required>
                 <label class="custom-control-label" for="Online">Online Payment</label>
             {{!-- <button class="btn btn-dark btn-pay-now btn-sm mx-4" onclick="payNow({{cart.carttotal}})" type="button">Pay Now</button> --}}

                </div>

                </div>
                <hr class="mb-4">
                <button class="btn btn-dark btn-lg btnsubmit btn-COD  btn-block" type="submit">Continue to checkout</button>
                <button class="btn btn-dark btn-lg btnsubmit btn-pay-now  btn-block" onclick="payNow({{cart.carttotal}})" type="button">Pay And Checkout</button>
            </form>
        </div>

    </div>
</div>
<script src="https://unpkg.com/indian-states-cities@1.0.1/dist/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    $(document).ready(function() {
            function disableInputFields() {
        $('#firstName, #lastName, #email, #address, #address2, #state, #zip, #number').prop('disabled', true);
        $('input[type="radio"]').prop('disabled', false); // Enable payment method radios
    }
        function enableInputFields() {
        $('#firstName, #lastName, #email, #address, #address2, #state, #zip, #number').prop('disabled', false);
    }
     $(document).on('click', '.btn-adress', function(event) {
    event.preventDefault();
    
    // Extract address details from the card
    var firstName = $(this).closest('.card').find('.card-title').text().trim().split(' ')[0];
        var lastName = $(this).closest('.card').find('.card-title').text().trim().split(' ')[1];
        var email = $(this).closest('.card').find('.card-text:eq(0)').text().trim().split(': ')[1];
        var phoneNumber = $(this).closest('.card').find('.card-text:eq(1)').text().trim().split(': ')[1];
        var address = $(this).closest('.card').find('.card-text:eq(2)').text().trim().split(': ')[1];
        var address2 = $(this).closest('.card').find('.card-text:eq(3)').text().trim().split(': ')[1];
        var state = $(this).closest('.card').find('.card-text:eq(4)').text().trim().split(': ')[1];
        var zip = $(this).closest('.card').find('.card-text:eq(5)').text().trim().split(': ')[1];

        // Set values in input fields
        $('#firstName').val(firstName);
        $('#lastName').val(lastName);
        $('#email').val(email);
        $('#number').val(phoneNumber);
        $('#address').val(address);
        $('#address2').val(address2);
        $('#state').val(state);
        $('#zip').val(zip);
    
    // Hide the "Save Shipping Address" checkbox
    $(".save").hide();
});
        
        $('.btn-pay-now').hide();
        function togglePayNowButton() {
        if ($('#Online').is(":checked")) {
            $('.btn-COD').hide();
            $('.btn-pay-now').show();
// Disable the "Continue to checkout" button
        } else 
        if($('#COD').is(":checked"))
        {
                $('.btn-pay-now').hide();
                $('.btn-COD').show();
                $('.btnsubmit').prop('disabled', false); // Enable the "Continue to checkout" button
        }
        
    }
        togglePayNowButton();
        $("#Online,#COD").on('change', function(event) {
        togglePayNowButton();
    });

        // Function to validate the form



        // Function to validate name format

    });
        function validateForm() {
            const firstName = $('#firstName').val().trim();
            console.log(firstName)
            const lastName = $('#lastName').val().trim();
            console.log(lastName)
            const email = $('#email').val().trim();
            console.log(email)
            const phno = $('#number').val().trim();
            console.log(phno)
            const address = $('#address').val().trim();
            console.log(address)
            const zip = $('#zip').val().trim();
            console.log(zip)
            const state = $('#state').val();
            console.log(state)
            

            let isValid = true;

            // Validate first name
            if (firstName === '' )  {
                isValid = false;
                $('#firstName').next('.invalid-feedbacks').text('First name should not be empty');
            } else if (!isValidName(firstName)) {
                isValid = false;
                $('#firstName').next('.invalid-feedbacks').text('First name should not contain numbers and be less than 15 characters.');
            } else {
                $('#firstName').next('.invalid-feedbacks').text('');
            }
            if (lastName === '' )  {
                isValid = false;
                $('.invalid-feedbackd').text('Last name should not be empty');
            } else if (!isValidName(lastName)) {
                isValid = false;
                $('.invalid-feedbackd').text('Last name should not contain numbers and be less than 15 characters.');
            } else {
                $('.invalid-feedbackd').text('');
            }

            // Validate email
            if (email === '' || !isValidEmail(email)) {
                isValid = false;
                $('.invalid-feedbacke').text('Please enter a valid email address.');
            } else {
                $('.invalid-feedbacke').text('');
            }

            if (phno === '' || ! isValidNumber(phno) ) {
                isValid = false;
                $('.invalid-feedbackdd').text('Please enter a valid phone number ');
            } else {
                $('.invalid-feedbackdd').text('');
            }

            // Validate address
            if (address === '' && address.length  < 10) {
                isValid = false;
                $('.invalid-feedbackv').text('Address is required.');
            } else {
                $('.invalid-feedbackv').text('');
            }

            // Validate zip code
             if (zip === '') {
        isValid = false;
        $('.invalid-feedbacksda').text('Zip code is required.');
    } else if (zip.length !== 6) {
        isValid = false;
        $('.invalid-feedbacksda').text('Zip code should be 6 digits');
    } else if (isNaN(zip)) {
        isValid = false;
        $('.invalid-feedbacksda').text('Zip code should be digits');
    } else {
        $('.invalid-feedbacksda').text('');
    }
        if (state === '') {
        isValid = false;
        $('.invalid-feedbacksav').text('Please select a state.'); // Display error message for state selection
    } else {
        $('.invalid-feedbacksav').text(''); // Clear error message if state is selected
    }

            return isValid;
        }
                function isValidName(name) {
            const nameRegex = /^[a-zA-Z\s]*$/;
            return nameRegex.test(name) && name.length < 10;
        }
        function isValidNumber(phoneNumber) {
         const phoneRegex = /^\d{10}$/;
        return phoneRegex.test(phoneNumber);
        }

        // Function to validate email format
        function isValidEmail(email) {
            // Regular expression for email validation
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        // Event listeners for input fields
        $('#firstName, #lastName, #email, #address, #zip,#number').on('input', function() {
            validateForm();
        });

        // Event listener for form submission
        $('form').on('submit', function(event) {
    // Prevent form submission if validation fails
    if (!validateForm() || !$(this).attr('id') === 'payment-form') {
        event.preventDefault();
    }
});

            function showToast(message, type) {
            Toastify({
                text: message,
                duration: 3000,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: type === "error" ? "#ff0000" : "#33cc33",
            }).showToast();
        }

    function payNow(amount) {
    console.log(amount);
    if (!validateForm()) {
    event.preventDefault();
    return showToast("Please fill form correctly", "error")
    }
    var formData = {
        amount: amount
    };
    $.ajax({
        url: "/payment",
        method:"POST",
        data: formData,
        success: function (data) {
            var options = {
                key: data.key_id,
                amount: data.amount,
                currency: "INR",
                order_id: data.order_id,
                handler: function (response) {
                document.getElementById('payment-form').submit();
                }
            };
            var razorpayObject = new Razorpay(options);
            razorpayObject.on('payment.failed', function (response) {
                alert("Payment Failed");
            });
            razorpayObject.open();
        },
        error: function (err) {
            alert("Error occurred: " + JSON.stringify(err));
        }
    });
}

</script>
