
      <!-- List group-->
      <ul class="list-group shadow">
        <!-- list group item-->
        {{#each order}}
        <li class="list-group-item" data-order-id="{{this.orderId}}">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title statuss"  id="orderid">Order ID: {{this.orderId}}</h5>
                  <h5 class="card-title" data-id="{{this.orderId}}">Order Status: {{this.Status}}</h5>
                  <p class="card-text">Payment Method: {{this.paymentMethod}}</p>
                  <p class="card-text">Shipping address: {{this.shippingAddress.address}}</p>
                  <hr>
                  <h5 class="card-title">Product Details</h5>
                  <hr>
                  {{#each this.items}}
                  <div class="row mb-3">
                    <div class="col-md-3">
                      <img src="{{this.product.image.[0]}}" class="img-fluid" alt="Product Image">
                    </div>
                    <div class="col-md-9">
                      <h6 class="card-subtitle mb-2 text-muted">{{this.product.name}}</h6>
                      <p class="card-text">Quantity: {{this.quantity}}</p>
                      <p class="card-text">Price: {{this.product.price}}</p>
                    </div>
                  </div>
                  {{/each}}
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h6 class="font-weight-bold mt-2">Order Total: {{this.totalAmount}}</h6>
                    </div>
                    <div class="mt-2">
                      <a href="productdetail?id={{this._id}}" class="btn flex-c-m  cl2  ">Track Order</a>
                      <a href="#" class="btn flex-c-m cl2 remove-from-wishlist" onclick="deleteOrder({{this.orderId}})">Cancel Order</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>


</script>
