
	
	<!-- Product -->
		<hr>
	<div class="bg0 m-t-0 p-b-140 classbb" >
	
		<div class="container mt-5  ">
<div class="flex-w flex-sb-m p-b-52">
    <div class="d-flex justify-content-between ">
		
        <div class="flex-w flex-l-m filter-tope-group m-tb-10 border-top-2 d-none d-lg-flex">
            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1 category-button" data-category="all">
                All Products
            </button>
            {{#each category}}
            <button class="stext-106 cl6 hov 1 bor3 trans-04 m-r-32 m-tb-5 category-button" data-category="{{this.name}}">
                {{this.name}}
            </button>
            {{/each}}
        </div>
    </div>

<div class="d-flex justify-content-end w-100" >








<div class="dropdown d-lg-none mr-1">
     <button class="btn btn-secondary dropdown-toggle" type="button" id="soccerClubsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Categories
    </button>

    <div class="dropdown-menu" aria-labelledby="sortDropdownMenuButton">
        <a class="dropdown-item category-button" data-category="all">All Products</a>
		{{#each category}}
        <a class="dropdown-item category-button"  href="#" id="sortPriceDesc" data-category="{{this.name}}">{{this.name}}</a>
		{{/each}}

    </div>
</div>

<div class="dropdown ">
    <button class="btn btn-secondary dropdown-toggle" id="sortDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
            <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.5.5 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
        </svg>
    </button>
    <div class="dropdown-menu" aria-labelledby="sortDropdownMenuButton">
        <a class="dropdown-item" href="#" id="sortPriceAsc">Price : Low to High</a>
        <a class="dropdown-item" href="#" id="sortPriceDesc">Price : High to Low</a>
        <a class="dropdown-item" href="#" id="sortNewness">Latest</a>
    </div>
</div>
<div class="dropdown ml-1" >
    <button class="btn btn-secondary dropdown-toggle" type="button" id="soccerClubsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter Team
    </button>
    <div style="z-index: 9999;" class="dropdown-menu" aria-labelledby="soccerClubsDropdownButton">
    	<a class="dropdown-item Real" href="#">Real Madrid CF</a>
        <a class="dropdown-item Barcelona" href="#">FC Barcelona</a>
        <a class="dropdown-item Atletico" href="#">Athletico Madrid</a>
        <a class="dropdown-item united" href="#">Manchester United</a>
        <a class="dropdown-item Arsenal" href="#">Arsenal FC</a>
        <a class="dropdown-item Tottenham" href="#">Tottenham Hotspur</a>
        <a class="dropdown-item Newcastle" href="#">Newcastle United FC</a>
        <a class="dropdown-item Liverpool" href="#">Liverpool FC</a>
        <a class="dropdown-item AC" href="#">AC Milan FC</a>
        <a class="dropdown-item Milan" href="#">Inter Milan FC</a>
        <a class="dropdown-item Miami" href="#">Inter Miami FC</a>
        <a class="dropdown-item Bayern" href="#">Bayern Munich</a>
        <a class="dropdown-item Borussia" href="#">Borussia Dortmund</a>
        <a class="dropdown-item Juventus" href="#">Juventus FC</a>
        <a class="dropdown-item PSG" href="#">Paris Saint-Germain</a>
        <a class="dropdown-item Chelsea" href="#">Chelsea FC</a>
        <a class="dropdown-item City" href="#">Manchester City</a>
        <a class="dropdown-item Roma" href="#">AS Roma</a>
        <a class="dropdown-item Sporting" href="#">Sporting CP</a>
        <a class="dropdown-item Ajax" href="#">Ajax FC</a>
        <a class="dropdown-item Nassr" href="#">Al-Nassr FC</a>
        <a class="dropdown-item Ahli" href="#">Al-Ahli FC</a>
        <a class="dropdown-item Argentina" href="#">Argentina</a>
        <a class="dropdown-item Brazil" href="#">Brazil</a>
        <a class="dropdown-item Japan" href="#">Japan</a>
        <a class="dropdown-item India" href="#">India</a>
        <a class="dropdown-item Portugal" href="#">Portugal</a>
        <a class="dropdown-item England" href="#">England</a>
        <a class="dropdown-item Netherlands" href="#">Netherlands</a>
        <a class="dropdown-item Italy" href="#">Italy</a>
        <a class="dropdown-item France" href="#">France</a>
        <a class="dropdown-item SouthKorea" href="#">South Korea</a>
        <a class="dropdown-item Spain" href="#">Spain</a>
        <a class="dropdown-item Germany" href="#">Germany</a>
        <a class="dropdown-item Croatia" href="#">Croatia</a>
    </div>
</div>

</div>	
	
</div>


<div class="row isotope-grid">
				{{#each product}}
<a href="productdetail?id={{this._id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="text-decoration: none;">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 col-6 isotope-item {{this.category}}">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src={{this.image.[0]}} class="imgprodt" alt="IMG-PRODUCT">

							{{!-- <a href="add-to-cart/{{this._id}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Add to cart
							</a> --}}
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								
									{{this.name}}
							
									<span class="cl3 mr-1">
									{{this.variant}}
								</span>
								<div class="d-flex justify-content-between align-content-between">
								<span class="stext-105 cl3 mr-1">
								₹{{this.price}}
								</span>
								<span class="stext-105 cl3 " style="text-decoration: line-through;">
									₹{{this.mrp}}
								</span>
								
								</div>
								<span class="badge rounded-pill badge-danger mt-1 p-2">{{this.tags}}</span>
							</div>
						<div class="block2-txt-child2 flex-r p-t-3">
        			<a  style="cursor: pointer;" class=" dis-block pos-relative " onclick="addToWishlist('{{userId}}', '{{this._id}}')">
                    <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-02.png" alt="ICON">
                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-01.png" alt="ICON">
       				 </a>
    				</div>
						</div>
					</div>
				</div></a>
				{{/each}}

			
					</div>
				</div>
			</div>

			<!-- Load more -->

		</div>
	</div>
		

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
<p id="userID" hidden>{{userId}}</p>



<!--===============================================================================================-->	
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
	document.getElementById('sortPriceAsc').addEventListener('click', async () => {
    await sortProducts('price_asc');
});

document.getElementById('sortPriceDesc').addEventListener('click', async () => {
    await sortProducts('price_desc');
});

document.getElementById('sortNewness').addEventListener('click', async () => {
    await sortProducts('newness');
});

async function sortProducts(sortType) {
    try {
		 const allProducts = document.querySelectorAll('.isotope-item');
            allProducts.forEach(function(product) {
                product.style.display = 'none';
            });
        const response = await axios.get(`/sort/${sortType}`); // Adjust the endpoint URL as per your server routes
         const products = response.data;
		 console.log(products);
			document.querySelector('.row.isotope-grid').innerHTML = response.data;
			const isotopeGrid = document.querySelector('.row.isotope-grid');
			isotopeGrid.style.height = '';

    } catch (error) {
        console.error('Error sorting products:', error);
    }
}





		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
    // Get all category buttons
    const categoryButtons = document.querySelectorAll('.category-button');
});

		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});
		function addToWishlist(userId, productId) {
    userId= document.getElementById("userID").textContent
	console.log(userId);
    fetch('add-to-wishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userId, productId })
    })
    .then(response => {
		console.log(response)
        if (!response.ok) {
            throw new Error('Failed to add/remove product to/from wishlist');
        }
		if(response.redirected)
		{
			window.location.href = "/login";
		}
		
        return response.json(); // parse JSON response
    })
    .then(data => {
        // Check if the message indicates the product was added or removed
        const message = data.message;
        const icon = data.icon; // assuming you send an icon type in the response
        
        Swal.fire({
            text: message,
            icon: icon, // use the icon type received from the server
            timer: 2000,
            showConfirmButton: false
        });
    })
    .catch(error => {
        console.error('Error:', error);
    });
		}

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
<script>
document.querySelectorAll('.category-button').forEach(button => {
    button.addEventListener('click', async () => {
        const category = button.getAttribute('data-category');
		console.log(category)
        try {
            const allProducts = document.querySelectorAll('.isotope-item');
            allProducts.forEach(function(product) {
                product.style.display = 'none';
            });

            const response = await axios.get(`/category/${category}`);
            const products = response.data;
			console.log(products);
			document.querySelector('.row.isotope-grid').innerHTML = response.data;
			const isotopeGrid = document.querySelector('.row.isotope-grid');
			isotopeGrid.style.height = '';

            // Select the products container
           
        } catch (error) {
            console.error('Error fetching category products:', error);
        }
    });
});
document.querySelectorAll('.dropdown-item').forEach(item => {
    item.addEventListener('click', async () => {
        const clubClassName = item.classList[1]; // Extract the second class name which represents the club
		console.log(clubClassName)
        try {
            const response = await axios.get(`/clubs/${clubClassName}`); // Send a GET request to the server
			document.querySelector('.row.isotope-grid').innerHTML = response.data;
			const isotopeGrid = document.querySelector('.row.isotope-grid');
			isotopeGrid.style.height = '';

            // Handle the received data as needed
        } catch (error) {
            console.error('Error fetching club data:', error);
        }
    });
});
</script>


