{{#each adress}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
        <p class="card-text">Email: {{this.email}}</p>
        <!-- Include phone number in the card text -->
        <p class="card-text">Phone Number: {{this.phonenumber}}</p>
        <p class="card-text">Address: {{this.adress}}, {{this.adress2}}, {{this.state}}, {{this.zip}}</p>
        <a href="#" class="btn btn-danger btn-adress" onclick="deleteaddr({{@index}})">Delete</a>
    </div>
</div>
{{/each}}



