
  {{#if wishlists}}
    {{#each wishlists}}
      <div class="row ">
        <div class="col-12 mx-auto">
          <!-- List group-->
          <ul class="list-group shadow">
            <!-- list group item-->
            <li class="list-group-item">
              <!-- Custom content-->
              {{#each products}}
                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                  <div class="media-body order-2 order-lg-1">
                    <h5 class="mt-0 font-weight-bold mb-2">{{this.name}}</h5>
                    <p class="font-italic text-muted mb-0 small">{{this.variant}}</p>
                    <div class="d-flex align-items-center justify-content-start mt-1">
                      <h6 class="font-weight-bold my-2">{{this.price}}</h6><p>&nbsp;</p>  
                      <h6 class="font-weight-bold my-2" style="text-decoration: line-through;">{{this.mrp}}</h6> 
                      
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-1">
                      <a href="productdetail?id={{this._id}}" class="btn flex-c-m  cl2  ">
                        View Product
                      </a>
                      <a href="#" class="btn flex-c-m cl2 remove-from-wishlist" data-product-id="{{this._id}}">
                        Remove From Wishlist
                      </a>
                    </div>
                  </div>
                  <img src="{{this.image.[0]}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                </div>
                <hr>
              {{/each}}
              <!-- End -->
            </li>
          </ul>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No wishlist found.</p>
  {{/if}}
  {{#if wishlists}}
    {{#each wishlists}}
      {{#unless products.length}}
        <p class="text-center" style="margin-top: 20px; z-index: 9999; position: relative;">Wishlist Is Empty.</p>
      {{/unless}}
    {{/each}}
  {{/if}}


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const removeFromWishlistButtons = document.querySelectorAll('.remove-from-wishlist');
    removeFromWishlistButtons.forEach(button => {
      button.addEventListener('click', async (event) => {
        event.preventDefault();
        const productId = button.dataset.productId;
        try {
          const response = await fetch(`/wishlist/${productId}`, {
            method: 'DELETE'
          });
          const data = await response.json();
          Swal.fire({
            text: data.message,
            icon: "success",
            timer:2000,
            showConfirmButton: false
          }).then(()=>window.location.reload())
          // Optionally, you can remove the product from the UI immediately upon successful remove
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred while removing the product from the wishlist.');
        }
      });
    });
  });
</script>